/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_globals.css);

/* start navigation */ 

.header_area .main_menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main_menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main_menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main_menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main_menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */ 

/* Banner Area */ 

.site_main .site_banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site_main .site_banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site_main .site_banner .site-title h1{
    font-size: 5rem;
}

.site_main .site_banner .site-title h4{
    font-size: 1.5rem;
}

.site_main .site_banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */ 

/* Start About Area */ 

.site_main .about_area{
    padding: 8rem 5rem;
}

.site_main .about_area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site_main .about_area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 

/* Start Brand Area */ 

.site_main .skill_area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site_main .skill_area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site_main .skill_area .first-row .col-lg-4 > .single_skill{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 120px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site_main .skill_area .first-row .col-lg-4 > .single_skill > img{
    width: 50%;
}

.site_main .skill_area .first-row .col-lg-4 > .single_skill:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site_main .skill_area .experience-area{
    padding-left: 1rem;
}

.site_main .skill_area .experience-area span{
    display: block;
}

.site_main .skill_area .experience-area .years-area{
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site_main .skill_area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e742420a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site_main .skill_area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site_main .skill_area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site_main .skill_area .experience-area .call-area{
    padding-left: 8rem;
}

/* End Brand Area */ 

/* Services Area */ 

.site_main .services_area{
    padding: 7rem 2rem;
}

.site_main .services_area .services-title{
    padding: 0 14rem;
}

.site_main .services_area .services-title h1{
    font-size: 35px;
}

.site_main > .services_area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site_main > .services_area .services:hover{
    box-shadow: var(--box-shadow);
}

/* End Services Area */ 

/* Projects Area */ 
.site_main .project_area{
    padding: 4rem 0;
}

.site_main .project_area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site_main .project_area .button-group button + button{
    padding-left: 3rem;
}

.site_main .project_area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site_main .project_area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Projects Area */ 

/* Start Subscribe Area*/ 

.site_main .subscribe_area .subscribe{
    background: url(../img/subscribe.jpg) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site_main .subscribe_area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site_main .subscribe_area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site_main .subscribe_area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site_main .subscribe_area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site_main .subscribe_area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End Subscribe Area */ 

/* Footer Area */ 

footer.footer_area{
    padding: 5rem 0;
    background: url(../img/footer.png) no-repeat;
}

footer.footer_area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer_area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer_area .social a:hover > i{
    color: var(--primary-color);
}

/* End Footer */ 